<section id="mainwrapper">

    <div class="container">
        
        <div class="logo-title">
            <img id="logo" src="../images/logo.png" alt="Decred Power">
        </div>

        <div class="columns">

            {{ partial "column-one.html" . }}
            {{ partial "column-two.html" . }}
            {{ partial "retro/column-three.html" . }}
            
        </div>

        <div>

            <div class="eightBit">
                <img  id="image-bit-stakey" src="../images/8bit.png" alt="8 bit Stakey">
            </div>

            <div class="clear"></div>

        </div>

        {{ partial "footer.html" . }}

    </div>

</section>