    .columns {
        display: flex;
        margin-top: 40px;
        justify-content: center;
        .column {
            width: 28%;
            margin-right: 5.3%;
            .header {
                display: flex;
                height: 40px;
                //background: yellow;
                padding-bottom: 30px;
                justify-content: flex-end;
                justify-items: flex-end;
                @media(max-width: 450px) {
                    height: 0px;
                }
            }
            #header-two,
            #header-three {
                @media(max-width: 450px) {
                    padding-bottom: 0;
                }
            }
            .title {
                border-top: 2px solid var(--text);
                border-bottom: 2px solid var(--text);
                padding-top: 4px;
                padding-bottom: 4px;
                margin-bottom: 5px;
                svg{
                    width: 30px;
                }
                cursor: pointer;
                h3 {
                    font-size: 1.5em;
                    font-family: monospace;
                    text-transform: uppercase;
                    letter-spacing: 0.3px;
                    @media (max-width: 768px) {
                        font-size: small;
                    }
                    @media (max-width: 500px) {
                        font-size: 1.15em;
                    }
                    @media (max-width: 450px) {
                        font-size: 1.1em;
                    }
                }
            }
            .column-list {
                margin-bottom: 20px;
                .toggle-hidden {
                    overflow: hidden;
                    transition: max-height 0.4s ease-in-out;
                    max-height: 0px;
                    @media(max-width: 768px) {
                        max-height: 8.5em;
                    }
                }
                li {
                    list-style: none;
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 10px;
                    }
                    li {
                        margin-top: 5px;
                        font-size: 1.4em;
                    }
                    span {
                        font-size: 1.4em;
                    }
                }
            }
            @media (max-width: 450px) {
                width: auto;
                margin-right: 0;
            }
        }
        @media (max-width: 450px) {
            display: block;
        }
    }
    
    .eightBit img {
        float: left;
        width: 100px;
    }
    
    .logoBit {
        position: absolute;
        margin-top: -150px;
        right: 50px;
        img {
            width: 60px;
            @media (max-width: 700px) {
                width: 40px;
            }
            @media (max-width: 500px) {
                width: 40px;
            }
        }
        @media (max-width: 700px) {
            margin-top: -100px;
            right: 10px;
        }
        @media (max-width: 500px) {
            margin-top: -80px;
            right: 8px;
        }
    }
    
    .clear {
        clear: both;
    }
    
    .column:last-child {
        margin-right: 0;
    }
    
    a,
    .column-list li span,
    .column-list li li,
    .footer a,
    .footer p {
        @media (max-width: 768px) {
            font-size: 1em;
        }
        @media (max-width: 700px) {
            font-size: 1em;
        }
    }
    
    // Button 
    .btn-toggle {
        background: transparent;
        cursor: pointer;
        padding: 0;
        margin: 0;
        color: var(--text);
        transition: content 0.2s;
        outline: none;
        border: none;
        font-size: 1.3em;
        margin-bottom: 5px;
        @media (max-width: 700px) {
            font-size: 1em;
        }
        &:after {
            content: "-more-";
        }
        &:active,
        &:focus {
            outline: none;
            border: none;
        }
    }
    
    //::after text change
    .btn-toggle.is-open {
        &:after {
            content: "-less-";
            text-indent: 0;
        }
    }

    
    .disabled {
        background: transparent;
        color: transparent;
        cursor: default;
        text-decoration: none;
        border: none;
        &:hover {
            background: none;
        }
    }

    .hidden {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
    }