<div class="c">
    <div class="title">
        <h3>Decred Software</h3>
    </div>
    <div class="column-list">
        <ul>
            {{ range .Site.Data.decredSoftware.visible }}
            <li>
                <a href="{{ .link }}" target="_blank">{{ .description }}</a>
            </li>
            {{ end }}
        </ul>
        <ul class="toggle-hidden">
            {{ range .Site.Data.decredSoftware.hidden }}
            <li>
                <a href="{{ .link }}" target="_blank">{{ .description }}</a>
            </li>
            {{ end }}
        </ul>
        <button class="btn-toggle"></button>
    </div>
</div>