<div class="c">
    <div class="title">
        <h3>
            Instant Exchanges
        </h3>
    </div>
    <div class="column-list">


        <ul>

            {{ range .Site.Data.instantExchanges.visible }}
            <li>
                <a href="{{ .link }}" target="_blank">{{ .description }}</a>
            </li>
            {{ end }}
            
        </ul>

        <ul class="toggle-hidden">

            {{ range .Site.Data.instantExchanges.hidden }}
            <li>
                <a href="{{ .link }}" target="_blank">{{ .description }}</a>
            </li>
            {{ end }}

        </ul>
        <button class="btn-toggle"></button>
    </div>
</div>