* {
  padding: 0;
  margin: 0;
  font-family: monospace;
  color: #aaa;
}

body {
  background-color: #091440;
  font-size: 0.8em;
}

a {
  font-family: monospace;
  font-size: 1.2em;
  letter-spacing: 0.2px;
  text-decoration: none;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
  border-bottom: #AAA solid 1px;
}

#mainwrapper {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
}

.logo-title {
  text-align: center;
  text-shadow: -1px 1px 1px #abcca3ba;
  color: #aaa;
}

.logo-title h1 {
  font-size: xx-large;
  font-family: "HK Grotesk", Helvetica Neue, Arial, sans-serif;
}

.columns {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.column {
  width: 28%;
  margin-right: 5.3%;
}

.column:last-child {
  margin-right: 0;
}

.column .title {
  border-top: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 5px;
}

.column .title h3 {
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  transition: 1s ease-in-out all;
}

.column-list {
  margin-bottom: 30px;
}

.column-list li {
  list-style: none;
  margin-bottom: 5px;
}

.column-list li li {
  margin-top: 5px;
  font-size: 1.2em;
}

.column-list li span {
  font-size: 1.2em;
}

.footer {
  padding: 30px;
}

.footer a {
  font-size: 1.1em;
}

.footer p {
  font-size: 1.2em;
}

@media (max-width: 768px) {
  #mainwrapper {
    padding-left: 50px;
    padding-right: 50px;
  }

  a, .column-list li span {
    font-size: 1em;
  }

  .logo-title h1 {
    font-size: x-large;
  }

  .column .title h3 {
    font-size: small;
  }
}

@media (max-width: 700px) {
  #mainwrapper {
    padding-left: 30px;
    padding-right: 30px;
  }

  a, .column-list li span {
    font-size: 0.85em;
  }
}

@media (max-width: 500px) {
  #mainwrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .column .title h3 {
    font-size: smaller;
  }
}

@media (max-width: 450px) {
  #mainwrapper {
    padding-left: 30px;
    padding-right: 30px;
  }

  .columns {
    display: block;
  }

  .column {
    width: auto;
    margin-right: 0;
  }

  .column .title h3 {
    font-size: smaller;
  }
}
