<div class="column">
    <div id="header-three" class="header"><a href="/retro" id="link-change">Change Theme</a></div>
    {{ partial "columnThree/facts.html" . }}
    {{ partial "columnThree/governance.html" . }}
    {{ partial "columnThree/development.html" . }}
    {{ partial "columnThree/historical.html" . }}
    {{ partial "columnThree/lightning-network.html" . }}
    {{ partial "columnThree/atomic-swaps.html" . }}
    {{ partial "columnThree/art.html"  . }}
    {{ partial "columnThree/shop.html" . }}
    {{ partial "columnThree/other.html" . }}
</div>